[submodule "test/glfw/3rdparty/glm"]
	path = test/glfw/3rdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "test/glfw/3rdparty/glfw"]
	path = test/glfw/3rdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "test/glfw/3rdparty/rapidjson"]
	path = test/glfw/3rdparty/rapidjson
	url = git@github.com:miloyip/rapidjson.git
